#main-container{
display: flex;
}

.header-content {
  position: absolute;
  top: 6%;
  left: 20%;
}


.mapController{
  position: absolute;
  z-index: 1;
  text-align: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: rgb(237, 240, 241);
}


#map {
  position: absolute;
  overflow: scroll;
  left: 30%;
  width: 70%;
  height: 94%;
}

